		.grid {
		  display: grid; 
		  /*Set up grid w 2 rows and 3 columns*/
		  grid-template-rows: 5% 5% 5%; 
		  grid-template-columns: 50% 50%;  /*Space between grid items*/
		  padding: 70px; 
		  grid-gap: 300px 10%;
		  text-align: center;
		  width: 100%;
		  min-width: 800px;

		}
		.grid-item {
        display: flex;
        align-items: center;
        justify-content: center;
      }
		li { 
			     display: inline; 
				 margin: 0px 3px; 
				 font-family: Arial; 
	    } 

        ul { 
			    width: 570px; 
				padding: 15px; 
				margin: 0px auto 0px auto; 
				border-top: 2px solid #000; 
				border-bottom: 1px solid #000; 
				text-align: center;
	    }
		
		#header {
				margin-top: 0;
                padding: 3em 1em 2em 1em;
                background-color: #D63230;
			}
		a {
			  color: #000; 
			  text-transform: uppercase; 
			  text-decoration: none; 
			  padding: 20px 18px 18px 20px; 
			  } 
			  .first-row {
  background: blue;
}
        p.fourteen { 
           clear: both;

	       width: 100%; 
           padding: 5px; 
           margin: 10px;	
		   font-size: 40px;
		   background-color: black; 
			color: white; 
 
            }
		p.thirteen { 
           clear: both; 
	       width: 100%; 
           padding: 5px; 
           margin: 10px;	
		    font-size: 40px;
			background-color: black; 
			color: white; 

            }
		p.twelve { 
           clear: both;
	       width: 100%; 
           padding: 5px; 
           margin: 10px;	
		    font-size: 40px;
			background-color: black; 
			color: white; 

            }
			body {
    text-align: center;
    }	
	.box {
	width: 100%;
	height: 300px;
	border: 2px solid black;
	padding: 5px;
	}
	.id {
	float: left;
	width: 40%;
	height: width; 
	}
	body{
		
		min-width: 800px;
	}
