        
	@media screen and (min-width: 1000px){
		.grid-container {

		  grid-template-rows: 80px 80px; 
		  grid-template-columns: auto auto; 
           grid-gap: 100px 25px;
         
		}
	} 
	
	 .grid-container {
		  display: grid; 
          align-items: center;	  
		  padding: 70px; 
          background-color: #D63230;
		  justify-items: center;
		}
        .card {
		   background-color: grey; 
		   border: 5px solid black; 
		   width: 500px;
		   height: 150px;
		   float: left; 
		}

		label {
		   background-color: grey;
		   float: right; 
		  width: 40%;
		} 
	    li { 
			     display: inline; 
				 margin: 0px 3px; 
				 font-family: Arial; 
	    } 

        ul { 
			    width: 570px; 
				padding: 15px; 
				margin: 0px auto 0px auto; 
				border-top: 2px solid #000; 
				border-bottom: 1px solid #000; 
				text-align: center;
	    }
		
		#header {
				margin-top: 0;
                padding: 3em 1em 2em 1em;
                background-color: #D63230;
				text-align: center; 
			}
		a {
			  color: #000; 
			  text-transform: uppercase; 
			  text-decoration: none; 
			  padding: 20px 18px 18px 20px; 
			  }  
			  
 			 body {
    text-align: center;
	min-width: 560px;
	align-items: center;
    }	
	.red{
	  background-color: red; 
	}

img {
   float: left;
   clear: left; 
}



	
	@media screen (max-width: 1000px) {
            .grid-container {
		    grid-template-columns: auto; 
            grid-gap:  2px;
		}
		
		   body {
             text-align: center;
	        min-width: 560px;}	
		   }
 